[submodule "filex"]
	path = filex
	url = https://github.com/azure-rtos/filex
[submodule "netxduo"]
	path = netxduo
	url = https://github.com/azure-rtos/netxduo
[submodule "threadx"]
	path = threadx
	url = https://github.com/azure-rtos/threadx
