[submodule "filex"]
	path = filex
	url = https://github.com/azure-rtos/filex
[submodule "netxduo"]
	path = netxduo
	url = https://github.com/azure-rtos/netxduo
[submodule "threadx"]
	path = threadx
	url = https://github.com/azure-rtos/threadx
[submodule "rx-driver-package"]
	path = rx-driver-package
	url = https://github.com/renesas/rx-driver-package
[submodule "guix"]
	path = guix
	url = https://github.com/azure-rtos/guix
[submodule "usbx"]
	path = usbx
	url = https://github.com/azure-rtos/usbx/
